{% extends 'Home/Basic.html' %} {% comment %} Title {% endcomment %} {% block title %} Home {% endblock %}
<!--Body -->
{% block body %}
<div class="container">
    <h1> {{ display }} </h1>
    <div class="row">
        {% for card in products%}
        <!-- Lopping using Django -->
        <div class="card ml-3" style="width: 18rem;">
            <img src="/media/{{card.product_thumbnail}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{card.product_name}}</h5>
                <p class="card-text">{{card.product_disc}}</p>
                <button href="" class="btn btn-primary cartbtn" id='cartbtn{{card.id}}'>Add To Cart</button>
            </div>
            {% if card|divisibleby:2 and not forloop.last %}
            </dv>
            <div class='row'>
                {% endif %}
            </div>
            {% endfor %}
        </div>

    </div>

    {% endblock %}

    <!-- Block Java Script -->
    {% block Js %}
    <!--When Add Ad to cart is clicked-->
    <script>
        // $('.cartbtn').click(function() {
        //     // console.log(cartid)
        //     cartid = this.id
        //     console.log('Clicked')
        //     console.log(cartid)
        //     cart = {
        //         'Items': 'Added'
        //     };
        //     localStorage.setItem("Shop", JSON.stringify(cart))
        //     var shoping = localStorage.getItem('Shop')
        //     console.log(shoping)
        //     document.getElementById(cartid).innerHTML = "Clicked"
        // })
        $('.cartbtn').click(function() {
            $('#showcart').popover('show');
        })
    </script>
    {% endblock %}